/* Resets some basic elements for a more consistent look */
body, h1, h2, h3, p, form, input, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sets a font and some basic background colors */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #FFF3E4; ; /* Soft peach background */
  color: #5A4A42; /* Dark brown text for soft contrast */
  line-height: 1.6;
  padding: 20px;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Adjust height as needed */
}


.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  overflow: hidden;
}

.header {
  background-color: #FFAD60; /* Warm orange for the header */
  color: #FFF;
  padding: 1rem;
  text-align: center;
}

.ingredient-list {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between each ingredient field */
}

.ingredient-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ingredient-input {
  padding: 10px;
  font-size: 16px; /* Larger font size for readability */
  width: 100%; /* Full width within its container */
  margin-bottom: 5px;
}

.ingredient-actions {
  display: flex;
  gap: 5px; /* Space between action buttons */
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #FFF;
  text-decoration: none;
}

.card {
  background: white;
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.btn {
  display: inline-block;
  background: #E95536; /* Vibrant orange for buttons */
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.btn-primary {
  background: #E95536;
}

.btn-secondary {
  background: #F9A875; /* Secondary button with a softer orange */
}

.form-control {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-control label {
  margin-bottom: 5px;
}

.form-control input, .form-control textarea {
  padding: 15px; /* Increase padding for larger input fields */
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 18px; /* Increase font size for better readability */
}

/* Adjusting input and textarea width */
.form-control input, .form-control textarea {
  width: 110%;
}

/* Link styling adjustments */
.App-link:hover {
  color: #ffffff;
}

/* Simple grid for recipes */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.recipe-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.recipe-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.recipe-content {
  padding: 15px;
}

.recipe-title {
  margin-bottom: 10px;
  font-size: 20px;
  color: #5A4A42; /* Use primary color for titles */
}

.recipe-listings .recipes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.recipe-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow: hidden;
}

.recipe-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.recipe-card h3 {
  padding: 0 20px;
}

.recipe-card p {
  padding: 0 20px 20px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers children horizontally in the container */
  justify-content: center; /* Centers children vertically in the container */
}

/* Text Alignment */
.dashboard {
  text-align: center;
}

.dashboard h1, .dashboard h2 {
  text-align: center;
}

.dashboard h1 {
  font-size: 24px; /* Example size */
  font-weight: bold;
}

.dashboard li {
  text-align: left; /* or "justify" for justified text */
  margin-bottom: 10px; /* Adds space between list items */
  padding: 5px; /* Adds space inside each list item */
}

.dashboard,
.recipe-form-container {
  max-width: 1100px; /* Increase the max-width for a wider area */
  width: 95%; /* You can adjust the width percentage as needed */
  margin: auto; /* Center the container */
  padding: 20px; /* Adjust padding as needed */
  background-color: #fff; /* Background color */
  border-radius: 8px; /* Add border-radius for rounded corners */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Add box shadow for depth */
}

.dashboard p {
  font-size: 16px; /* Example size */
  font-weight: normal;
}

/* Target the list items directly to style the content within */
.dashboard ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0; /* Add some vertical padding for spacing */
}

/* Specific styles for the title and buttons container to ensure they are spaced out */
.dashboard ul li > div:first-child,
.dashboard ul li > div:last-child {
  flex: 1;
}

/* Ensuring the buttons have some spacing between them */
.dashboard ul li button {
  margin-left: 10px; /* Add space to the left of buttons */
}

/* New styles for centering forms */
.home-container, .forms-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-container {
  width: 95%; /* Adjust width as needed */
  max-width: 800px; /* Increase max-width for a larger form */
  margin: 40px auto; /* Increase margin for more space, centers the form */
  padding: 40px; /* Increase padding for more internal space */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-size: 18px; /* Adjust font size as needed for readability */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the content inside the form-container */
}

@media screen and (min-width: 768px) {
  .forms-wrapper {
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 900px;
    margin: auto;
  }
  .form-container {
    margin: 1rem;
  }
}

@media (max-width: 768px) {
  .recipe-form-container {
    width: 100%; /* Full width on smaller screens */
    margin: 10px auto;
    padding: 20px;
    max-width: 90%; /* Allows more space for the form on smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .form-container {
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
  }
}

/* Add space after the submit button */
.recipe-form-container button[type="submit"] {
  margin-bottom: 20px; /* Adjust the space as needed */
}

/* Alternatively, if the "Back to Dashboard" is a link styled as a button, you can target it directly if it has a specific class, or generically like this: */
.recipe-form-container a.button-link {
  display: block; /* Makes it take the full width, ensuring it starts on a new line */
  margin-top: 20px; /* Adds space above it */
}

.resizable-textarea {
  resize: vertical; /* Allow vertical resizing */
}

.resizable-textarea {
  resize: horizontal; /* Allow horizantle resizing */
}
